@model WebApplication15.Models.Model.Hakkimizda
@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}
<div class="container"
    <div class="col-md-12">
        <h4>Bakım Evim Hakkında</h4>
        <img src="" alt="" class="align-left" />
        <p>
           @Model.Aciklama
        </p>
    </div>
 </div>
